In [2]:
import pandas as pd

In [3]:
note=pd.read_csv('Suicidesindia2001-2012.csv')

In [4]:
a=note.Total.count()
a

237519

In [5]:
b=note.groupby('Year').Total.count()
b

Year
2001    19797
2002    19790
2003    19786
2004    19783
2005    19803
2006    19786
2007    19794
2008    19797
2009    19786
2010    19792
2011    19806
2012    19799
Name: Total, dtype: int64

In [6]:
c=note.groupby('Gender').Total.count()
c

Gender
Female    118640
Male      118879
Name: Total, dtype: int64

In [7]:
d=note.groupby('State').Total.count()
d

State
A & N Islands        6712
Andhra Pradesh       6791
Arunachal Pradesh    6707
Assam                6786
Bihar                6790
Chandigarh           6717
Chhattisgarh         6790
D & N Haveli         6704
Daman & Diu          6710
Delhi (Ut)           6782
Goa                  6759
Gujarat              6786
Haryana              6790
Himachal Pradesh     6774
Jammu & Kashmir      6761
Jharkhand            6785
Karnataka            6792
Kerala               6788
Lakshadweep          6674
Madhya Pradesh       6792
Maharashtra          6792
Manipur              6700
Meghalaya            6733
Mizoram              6737
Nagaland             6705
Odisha               6791
Puducherry           6730
Punjab               6779
Rajasthan            6791
Sikkim               6742
Tamil Nadu           6786
Total (All India)     312
Total (States)        312
Total (Uts)           312
Tripura              6782
Uttar Pradesh        6787
Uttarakhand          6758
West Bengal          6780
Name: Total, dtype: int64

In [8]:
e=note.groupby(['State','Gender']).Total.count()
e

State              Gender
A & N Islands      Female    3345
                   Male      3367
Andhra Pradesh     Female    3395
                   Male      3396
Arunachal Pradesh  Female    3351
                   Male      3356
Assam              Female    3392
                   Male      3394
Bihar              Female    3394
                   Male      3396
Chandigarh         Female    3350
                   Male      3367
Chhattisgarh       Female    3394
                   Male      3396
D & N Haveli       Female    3343
                   Male      3361
Daman & Diu        Female    3348
                   Male      3362
Delhi (Ut)         Female    3388
                   Male      3394
Goa                Female    3374
                   Male      3385
Gujarat            Female    3390
                   Male      3396
Haryana            Female    3394
                   Male      3396
Himachal Pradesh   Female    3385
                   Male      3389
Jammu & Kashmir    Female    3379
                   Male      3382
                             ...
Mizoram            Female    3361
                   Male      3376
Nagaland           Female    3345
                   Male      3360
Odisha             Female    3396
                   Male      3395
Puducherry         Female    3349
                   Male      3381
Punjab             Female    3387
                   Male      3392
Rajasthan          Female    3395
                   Male      3396
Sikkim             Female    3367
                   Male      3375
Tamil Nadu         Female    3394
                   Male      3392
Total (All India)  Female     156
                   Male       156
Total (States)     Female     156
                   Male       156
Total (Uts)        Female     156
                   Male       156
Tripura            Female    3390
                   Male      3392
Uttar Pradesh      Female    3393
                   Male      3394
Uttarakhand        Female    3375
                   Male      3383
West Bengal        Female    3389
                   Male      3391
Name: Total, Length: 76, dtype: int64

In [9]:
f=note.groupby(['State','Year']).Total.count()
f

State              Year
A & N Islands      2001    562
                   2002    557
                   2003    556
                   2004    560
                   2005    558
                   2006    559
                   2007    560
                   2008    560
                   2009    561
                   2010    559
                   2011    561
                   2012    559
Andhra Pradesh     2001    566
                   2002    566
                   2003    566
                   2004    566
                   2005    566
                   2006    566
                   2007    566
                   2008    565
                   2009    566
                   2010    566
                   2011    566
                   2012    566
Arunachal Pradesh  2001    556
                   2002    556
                   2003    556
                   2004    556
                   2005    556
                   2006    561
                          ...
Uttar Pradesh      2007    564
                   2008    566
                   2009    566
                   2010    566
                   2011    564
                   2012    565
Uttarakhand        2001    563
                   2002    565
                   2003    563
                   2004    565
                   2005    564
                   2006    563
                   2007    563
                   2008    563
                   2009    556
                   2010    563
                   2011    564
                   2012    566
West Bengal        2001    566
                   2002    566
                   2003    566
                   2004    565
                   2005    566
                   2006    565
                   2007    566
                   2008    566
                   2009    566
                   2010    566
                   2011    566
                   2012    556
Name: Total, Length: 456, dtype: int64

In [10]:
g=note.groupby(['Year','Gender']).Total.count()
g

Year  Gender
2001  Female    9886
      Male      9911
2002  Female    9884
      Male      9906
2003  Female    9886
      Male      9900
2004  Female    9880
      Male      9903
2005  Female    9892
      Male      9911
2006  Female    9883
      Male      9903
2007  Female    9888
      Male      9906
2008  Female    9891
      Male      9906
2009  Female    9885
      Male      9901
2010  Female    9883
      Male      9909
2011  Female    9891
      Male      9915
2012  Female    9891
      Male      9908
Name: Total, dtype: int64

In [11]:
h=note.groupby(['State','Year','Gender']).Total.count()
h

State           Year  Gender
A & N Islands   2001  Female    279
                      Male      283
                2002  Female    278
                      Male      279
                2003  Female    278
                      Male      278
                2004  Female    279
                      Male      281
                2005  Female    278
                      Male      280
                2006  Female    278
                      Male      281
                2007  Female    280
                      Male      280
                2008  Female    279
                      Male      281
                2009  Female    280
                      Male      281
                2010  Female    278
                      Male      281
                2011  Female    279
                      Male      282
                2012  Female    279
                      Male      280
Andhra Pradesh  2001  Female    283
                      Male      283
                2002  Female    283
                      Male      283
                2003  Female    283
                      Male      283
                               ...
Uttarakhand     2010  Female    281
                      Male      282
                2011  Female    281
                      Male      283
                2012  Female    283
                      Male      283
West Bengal     2001  Female    283
                      Male      283
                2002  Female    283
                      Male      283
                2003  Female    283
                      Male      283
                2004  Female    282
                      Male      283
                2005  Female    283
                      Male      283
                2006  Female    282
                      Male      283
                2007  Female    283
                      Male      283
                2008  Female    283
                      Male      283
                2009  Female    283
                      Male      283
                2010  Female    283
                      Male      283
                2011  Female    283
                      Male      283
                2012  Female    278
                      Male      278
Name: Total, Length: 912, dtype: int64

In [12]:
cancer=note.groupby('Type')
cancer.get_group('Cancer').Total.sum()
#i=note.groupby(['Type'=='Cancer']).Total.count()
#i=cancer.get_group("Cancer").Total.count()
#3i=cancer.Total.count()
#i

9058

In [13]:
j=note.groupby(['State','Year','Type','Gender'])
j.get_group(("Punjab",2008,"Cancer","Female"))["Total"].sum()

2

In [14]:
a = note.groupby('State')
a2 = note.groupby('State').filter(lambda x : (x["State"] !="Total (All India)").any())
a2 = note.groupby('State').filter(lambda x : (x["State"] !='Total (States)').any())
u= a2.Total.sum() == a2.Total.sum().max()
a2.Total.sum()[u]
a2.Total.sum()

10213708

In [15]:
u = note[np.logical_and(note['State']!='Total (All India)',note['State']!='Total (States)')]
u=note.groupby('State').Total.sum() == note.groupby('State').Total.sum().max()
note.groupby('State').Total.sum()[u]

NameError: name 'np' is not defined

In [44]:
wc=note[(note['State']!='Total (All India)') & (note['State']!='Total (States)')]
l=wc.groupby('State').Total.sum()
l.sort_values(ascending=False)

State
Maharashtra          901945
West Bengal          849936
Tamil Nadu           818691
Andhra Pradesh       814059
Karnataka            734825
Kerala               538946
Madhya Pradesh       451535
Gujarat              330858
Chhattisgarh         302354
Odisha               267234
Rajasthan            255134
Uttar Pradesh        233352
Assam                172276
Haryana              147176
Delhi (Ut)            84272
Total (Uts)           53836
Jharkhand             49720
Punjab                46350
Bihar                 46214
Tripura               45965
Puducherry            32144
Himachal Pradesh      26562
Uttarakhand           18496
Goa                   17363
Jammu & Kashmir       14821
Sikkim                 9606
A & N Islands          8109
Arunachal Pradesh      6633
Meghalaya              5415
Chandigarh             5164
Mizoram                4154
D & N Haveli           3430
Manipur                2102
Nagaland               1728
Daman & Diu            1391
Lakshadweep              50
Name: Total, dtype: int64

In [35]:
l=note.groupby('State').Total.sum()
l.sort_values(ascending=False)

State
Total (All India)    2911862
Total (States)       2858026
Maharashtra           901945
West Bengal           849936
Tamil Nadu            818691
Andhra Pradesh        814059
Karnataka             734825
Kerala                538946
Madhya Pradesh        451535
Gujarat               330858
Chhattisgarh          302354
Odisha                267234
Rajasthan             255134
Uttar Pradesh         233352
Assam                 172276
Haryana               147176
Delhi (Ut)             84272
Total (Uts)            53836
Jharkhand              49720
Punjab                 46350
Bihar                  46214
Tripura                45965
Puducherry             32144
Himachal Pradesh       26562
Uttarakhand            18496
Goa                    17363
Jammu & Kashmir        14821
Sikkim                  9606
A & N Islands           8109
Arunachal Pradesh       6633
Meghalaya               5415
Chandigarh              5164
Mizoram                 4154
D & N Haveli            3430
Manipur                 2102
Nagaland                1728
Daman & Diu             1391
Lakshadweep               50
Name: Total, dtype: int64

In [48]:
wcg=note[(note['State']!='Total (All India)') & (note['State']!='Total (States)')]
l=wcg.groupby(['State','Year']).Total.sum()
l.sort_values(ascending=False)

State           Year
Tamil Nadu      2012    84635
                2010    82805
West Bengal     2011    82460
Maharashtra     2012    80560
West Bengal     2010    80185
Tamil Nadu      2011    79815
Maharashtra     2011    79735
                2010    79580
Andhra Pradesh  2010    79505
West Bengal     2006    78625
Maharashtra     2006    77470
                2007    75920
Andhra Pradesh  2011    75385
West Bengal     2005    75075
Andhra Pradesh  2007    74410
West Bengal     2007    74300
                2008    74260
Maharashtra     2003    73800
                2004    73645
West Bengal     2009    73240
Maharashtra     2001    73090
                2002    72645
Andhra Pradesh  2009    72500
Maharashtra     2005    72130
Tamil Nadu      2008    72125
Maharashtra     2008    71870
Tamil Nadu      2009    71832
Andhra Pradesh  2008    71729
Maharashtra     2009    71500
Andhra Pradesh  2012    71190
                        ...
Mizoram         2007      140
Nagaland        2006      140
                2005      135
                2002      135
Manipur         2009      134
                2005      134
                2003      130
Daman & Diu     2003      118
Nagaland        2007      116
Daman & Diu     2009      115
                2006      110
Nagaland        2003      109
Daman & Diu     2008       95
                2002       85
                2007       75
                2001       69
                2004       65
Nagaland        2010       60
Lakshadweep     2007       15
                2006       10
                2003       10
                2009        5
                2010        5
                2012        5
                2008        0
                2005        0
                2004        0
                2002        0
                2001        0
                2011        0
Name: Total, Length: 432, dtype: int64